APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:M3K44Vhp5pXFtMIti1PkfpMsd45fc6s59Pl0Kv6Vf14=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# --- BANCO DE DADOS (FORA DO DOCKER) ---
DB_CONNECTION=mysql
# Se o MySQL está no seu Windows/Host, use o IP da sua máquina ou 'host.docker.internal'
DB_HOST=172.17.0.1
DB_PORT=3306
DB_DATABASE=larablog_db_11
DB_USERNAME=root
DB_PASSWORD=genesysjp

# --- CONFIGURAÇÕES DE EMAIL (MAILTRAP) ---
MAIL_MAILER=log
CMAIL_HOST='sandbox.smtp.mailtrap.io'
CMAIL_USERNAME='8e4597a8a38d2d'
CMAIL_PASSWORD='e4933a27a77965'

# --- DOCKER PERMISSIONS ---
WWWUSER=1000
WWWGROUP=1000
