@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


.mw-200px {
  max-width: 200px !important;
}

.mw-100px {
  max-width: 200px !important;
}

.sidebar-logo {
    max-width: 140px;
    max-height: 50px;
    object-fit: contain;
    width: 100%;
}

.brand-logo {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.brand-logo a {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.left-side-bar .brand-logo a img.sidebar-logo {
    max-width: 140px !important;
    max-height: 50px !important;
    height: 50px !important;
    width: auto !important;
    object-fit: contain !important;
}
