@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


.mw-200px {
  max-width: 200px !important;
}

.sidebar-logo {
    max-height: 50px !important; /* Ajuste esse valor como preferir */
    max-width: 100% !important;  /* Impede que a imagem vaze para os lados */
    object-fit: contain !important; /* Garante que a foto não fique esticada/esmagada */
}
